page-search {
	.nuestra_p{
	    padding-right: 15px;
		color:#9B9B9B;
		font-size: 20px;
	}
	.color_letra{
		color:rgba(0,0,0,0.7);
		font-size:14px;
		text-align:justify;
	}
	.text-center{
		color:#D50000;
		font-size:14px;
		text-align:center;
	}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        .swiper-pagination-bullet{
            background:transparent ;
            border:1px solid #9B9B9B ;
        }
        .swiper-pagination-bullet-active
        {
        background:#4A4A4A;
        border:0px;
        }
    }
    .swiper-wrapper{
    }
}
