page-place {
    .scroll-content {
        // How far down does the content begin
        padding-top: 0 !important;
        // Needs to be transparent so we see the fixed-content image-background
        background-color: transparent;
        
        .swiper-pagination-bullet-active
        {
        background-color: #fff;
        }
    }

    ion-navbar#second-header {
        padding:0 !important;
        .toolbar-background {
            opacity: 0;
        }
        .toolbar-title {
            margin-top:15px;
            font-size: 2.1rem !important;
            text-align: center !important;
            color: color($colors, primary);
        }
        .toolbar-title-ios {
            margin-top:15px;
            font-size: 2.1rem !important;
            text-align: center !important;
            color: color($colors, primary);
        }
    }
    ion-list{
        ion-item{
            h2{
                color: color($colors,primary);
                font-weight: 400;
            }
            p{
                white-space: normal;
                font-size:13px !important;
                color:black!important;
            }
            .item-inner{
                border-bottom:0 !important;
            }
        }
    }
    #time{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        border-top: 1px solid #E8E8E8;
        border-bottom: 2px solid #E8E8E8 !important;
        padding-top: 12px;
        padding-bottom:12px;
        text-align:center;
        ion-col{
            font-size:1.2rem !important;
            font-weight: 500;
        }
    }
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
}
.toolbar-ios ion-title {
    left: 0!important; 
    top: 0!important;
    padding: 0 0px 0px!important;
    position: inherit !important;
    width: 100%!important;
    height: 100%!important;
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important;
    pointer-events: none!important;
}
}
